# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mac Specific
.DS_Store

# Max
*.mxo
*.mxe64

*.aif
*.aiff
*.rev
venv/
__pycache/
.ipynb_checkpoints/Untitled-checkpoint.ipynb
__pycache__/pysndlib.cpython-310.pyc
__pycache__/sndlib.cpython-310.pyc
